<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" Version="4.3.1" targetFramework="net461" />
  <package id="FluentAssertions" Version="5.6.0" targetFramework="net461" />
  <package id="Moq" Version="4.10.1" targetFramework="net461" />
  <package id="NUnit" Version="3.11.0" targetFramework="net461" />
  <package id="NUnit.ConsoleRunner" Version="3.9.0" targetFramework="net461" />
  <package id="System.Runtime.CompilerServices.Unsafe" Version="4.5.0" targetFramework="net461" />
  <package id="System.Threading.Tasks.Extensions" Version="4.5.1" targetFramework="net461" />
  <package id="System.ValueTuple" Version="4.4.0" targetFramework="net461" />
</packages>